.header {
    text-align: center;
}
body {
  background: #456990;
  color: white;
  font-weight: bold;
}
.card {
    box-sizing: border-box;
    width: 40%;
    padding: 40px 5%;
    margin: 10px 2%;
    min-height: 140px;
    display: inline-block;
    text-align: center;
    border: 2px solid grey;
    background: #028090;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    overflow: hidden;
}

.card:hover {
    cursor: pointer;
    background: #e4fde1;
    color: #028090;
}

.row {
  display: block;
}

.logo {
  width: 20%;
  box-sizing: border-box;
}

.spacer {
  width: 5%;
  box-sizing: border-box;
  display: inline-block;
}

.back {
  margin-top: 50px;
  padding: 30px 10%;
  background: white;
  color: cadetblue;
}

ul {
  list-style: none;
}

li {
  margin: 5px 10%;
  background: rgba(0, 200, 150, .3)
}

strong {
  color: black;
}
